.checkout {
  font-size: 14px;
  line-height: 20px;
}
.checkout__item {
  margin-bottom: 1rem;
  border: none;
}
.item--img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid rgb(224, 224, 224);
}
.item__quantity {
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  flex-direction: column;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
}
.quantity--container {
  display: block;
  align-items: center;
  background: rgb(255, 255, 255);
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 90px;
  padding: 0px;
  overflow: hidden;
  border-radius: 0.25rem;
  border: 1px solid rgb(20, 53, 195);
  display: flex;
}
.item__container {
  background-color: white;
  padding: 1rem;
  margin-left: 0;
}
.quantity--button {
  background-color: white;
  color: rgb(20, 53, 195);
  padding: 0.25rem;
  border: 1px solid white;
  font-size: 16px;
  background-color: white;
}
.quantity--count {
  display: block;
  border-radius: 4px;
  min-height: 16px;
  padding: 0px;
  color: rgb(20, 53, 195);
  width: 2rem;
  border: none;
  text-align: center;
}
.quantity--add {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.quantity--sub {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}
.quantity__price {
  text-align: right;
  width: max-content;
  display: inline-block;
  margin-bottom: 0px;
  font-size: 1rem;
  color: rgb(20, 53, 195);
  font-weight: bold;
}
.disabled {
  display: none;
}

.quantity--mess {
  color: red;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  outline: none;
}

/* Firefox */
input[type="text"] {
  -moz-appearance: textfield;
  outline: none;
}

.quantity--container button:hover {
  background-color: #dbe1fb;
  outline: none;
}
.quantity--container button:not(:hover) {
  background-color: white;
  outline: none;
}

.info--SKU {
  color: rgb(132, 135, 136);
  font-size: 0.875rem;
}
.discount--img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border: 1px solid rgb(224, 224, 224);
}

.item__discount {
  display: flex;
  left: 54px;
}

.card__header {
  background-color: white !important;
}
.card__header h5 {
  font-size: 20px !important;
}
.discount__code input {
  background-color: #f6f6f6;
  font-size: 14px;
  text-decoration: none solid rbg(0, 0);
  border: 1px solid rgb(224, 224, 224);
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 0.375rem 0.75rem 0.375rem 15px;
  border: 1px solid rgb(224, 224, 224);
  min-height: 16px;
  height: 40px;
}
.discount--button {
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  line-height: 1rem;
  padding: 0.365rem 0.75rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(20, 53, 195);
  border-color: rgb(20, 53, 195);
  border-width: 1px;
  border-style: solid;
  width: 100%;
  height: 40px;
  color: white;
}
.checkout__discount--code {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
  padding: 1rem;
}
.discount__content {
  display: flex;
  flex-wrap: wrap;
  margin: 15px -0.5rem 20px;
}
.discount--button:disabled {
  cursor: auto;
  background-color: rgb(150, 150, 150) !important;
  border-color: rgb(150, 150, 150) !important;
}

.checkout__cash {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
  padding: 1rem;
  margin-left: -15px;
}
.cash--table {
  width: 100%;
}
.cash--table td,
tr {
  padding: 0;
}
.cash--table td:nth-child(1) {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  color: rgb(132, 135, 136);
  padding: 0px;
  text-align: left;
  vertical-align: top;
  line-height: 1;
  width: 40%;
  padding: 0.85rem 0px 0px;
}
.cash--table td:nth-child(2) {
  text-size-adjust: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 0px;
  text-align: right;
  line-height: 1;
  padding: 0.85rem 0px 0px;
}

.cash--table td:nth-child(2) span {
  font-size: 0.875rem;
  font-weight: 400;
  caption-side: bottom;
  border-collapse: collapse;
  color: black;
  text-align: left;
  line-height: 1;
  font-weight: bold;
}

.cash--total {
  text-size-adjust: 100%;
  font-family: Roboto, sans-serif;
  color: rgb(235, 33, 1) !important;
  font-size: 1.25rem !important;
  font-weight: 700;
  text-align: right;
  line-height: 1;
  box-sizing: border-box;
  width: max-content;
  display: inline-block;
}
.cash--footer {
  font-size: 0.875rem;
  font-weight: 400;
  text-size-adjust: 100%;
  font-family: Roboto, sans-serif;
  line-height: 1.25rem;
  color: rgb(51, 51, 51);
}
.footer--button {
  margin: 0px;
  font-family: inherit;
  font-size: inherit;
  text-transform: none;
  appearance: button;
  border-radius: 4px;
  overflow: hidden;
  line-height: 1rem;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(20, 53, 195);
  border-color: rgb(20, 53, 195);
  color: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  position: relative;
  width: 100%;
  padding: 0.7rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
.cash--vat {
  font-weight: 400;
  text-size-adjust: 100%;
  font-family: Roboto, sans-serif;
  line-height: 1.25rem;
  font-size: 14px;
  color: rgb(132, 135, 136);
  margin-top: 4px;
  text-align: right;
}
.checkout__header{
    margin-bottom: 20px;
}
.header__title {
  text-size-adjust: 100%;
  line-height: 1.25rem;
  font-size: 24px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}
.header__delete{
margin: 0px;
font-family: inherit;
font-size: inherit;
text-transform: none;
appearance: button;
border-radius: 4px;
overflow: hidden;
line-height: 1rem;
padding: 0.365rem 0.75rem;
display: inline-flex;
background-color: transparent;
border-color: transparent;
color: rgb(48, 150, 179);
border-width: 1px;
border-style: solid;
text-decoration: none;
flex-direction: row;
position: relative;
cursor: pointer;
text-align: right;
}
.header__delete:hover{
    color:red ;
}
